.images img{
    height: 200px;
    width: 200px;
    overflow:hidden;
    
}
.images{
    display: flex;
    align-items: center;
    position: relative;
}
.flipimage{
    display: none;
    position: absolute !important;
}

img:hover .flipimage{
    
    display: block;
}

img:hover .flipimage{
    transform: scale(1.5);
    color: blueviolet;
}

.text{
    color: red;

}

.flipimage.disnone{
    display:block;
}